<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'jobs')}">

<body>

<h2>Jobs</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 200px;">Address</th>
        <th>City</th>
        <th style="width: 120px">Telephone</th>
        <th>Material</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="job : ${selections}">
        <td>
            <a th:href="@{/jobs/__${job.id}__}" th:text="${job.firstName + ' ' + job.lastName}"/></a>
        </td>
        <td th:text="${job.address}"/>
        <td th:text="${job.city}"/>
        <td th:text="${job.telephone}"/>
        <td><span th:each="material : ${job.materials}" th:text="${material.name} "/></td>
    </tr>
    </tbody>
</table>

</body>
</html>