<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'laborers')}">
<head>
    <meta charset="UTF-8">
    <title>List of Laborers</title>
</head>
<body>

<h2 th:text="'List of Laborers'">List of Laborers...</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Pay Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="laborer : ${laborers}">
        <td th:text="${laborer.id}">1</td>
        <td th:text="${laborer.firstName}">Joe</td>
        <td th:text="${laborer.lastName}">Buck</td>
        <td th:text="${laborer.pay}">Pay Rate</td>
    </tr>
    </tbody>
</table>
</body>
</html>